numpy==1.22.4
pandas==1.5.3
nltk==3.8.1
stop-words==2018.7.23
wordcloud==1.8.2.2
scikit-learn==1.2.2
Pillow==9.3.0
torch==2.0.1+cu118
tensorflow==2.12.0
tensorflow-text==2.12.1
keras==2.12.0
keras-nlp==0.5.2
transformers==4.28.1
fschat==0.2.17
matplotlib==3.7.1
plotly==5.13.1
gradio_client==0.2.7
gradio==3.35.2


# from fastchat.model import load_model, get_conversation_template, add_model_args
# from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
# from transformers import AutoTokenizer, AutoModelForCausalLM
# from sklearn.model_selection import train_test_split
# from nltk.translate.bleu_score import sentence_bleu
# from transformers import AutoTokenizer, AutoModel
# from tensorflow.python.client import device_lib
# from keras.preprocessing.text import Tokenizer
# from stop_words import get_stop_words
# from tensorflow.keras import layers
# from operator import itemgetter
# from google.colab import auth
# from tensorflow import keras
# from ast import literal_eval
# from torch import Tensor
# from torch import cuda
# from PIL import Image
# from os import path

# import torch.nn.functional as F
# import matplotlib.pyplot as plt
# import plotly.express as px
# import tensorflow as tf
# import gradio as gr
# import pandas as pd
# import numpy as np
# import keras_nlp
# import argparse
# import locale
# import torch
# import json
# import time
# import re
